@import url('variables.css');

body {
    background-color: hsla(0, 0%, 100%, 0.850);
    height: 120vh;
    margin: 0;
}

.top-img {
    top: 0px;
    width: 100%;
    height: 60vw;
    background-image: url('../storage/img/COLDPLAY-WT.jpg');
    background-size: cover;
    background-position: center 10%; /*posiciona la imagen*/
    background-repeat: no-repeat;   /* Evita que la imagen se repita */
    background-attachment: scroll; /* Fija la imagen al hacer scroll */
    flex-shrink: 0;               /* Evita que se reduzca si no cabe */
}
.HEADER {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0;
    padding: 10px;
    box-sizing: border-box;
}
.HEADER .image-box {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-5);
    height: 20px;
    width: 20px;
}
.HEADER .image-box:hover {
    transform: scale(1.2);
}

.main-info {
    position: absolute;
    top: 40vw;
    left: 10%;
    width: 80%;
    height: 40vw;
    background-color: var(--color-1);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
}
.info {
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.info h3 {
    font-family: "Inter-SemiB";
    font-size: 12px;
    margin: 0;
    white-space: nowrap;    /* Evita que el texto se divida en varias líneas */
    overflow: hidden;    /* Oculta el contenido que no cabe */
    text-overflow: ellipsis;    /* Agrega "..." al final del texto cortado */
}
.location {
    display: flex;
    align-items: center;
}
.location .icon {
    margin-right: 3px;
}
.location p {
    margin: 0;
    font-family: "Inter-Regular";
    font-size: 12px;
    white-space: nowrap;    /**/
    overflow: hidden;    /**/
    text-overflow: ellipsis;    /**/
}
.date {
    display: flex;
    align-items: center;
}
.date .icon {
    margin-right: 3px;
}
.date p {
    margin: 0;
    font-family: "Inter-Regular";
    font-size: 12px;
    white-space: nowrap;    /**/
    overflow: hidden;    /**/
    text-overflow: ellipsis;    /**/
}
.participants {
    display: flex;
}
.participants p {
    padding-left: 15px;
}
.img-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  /*Para superponer las imagenes*/
    width: 60px;
}
.imagen {/*
width: 150px;
height: 150px; */
border-radius: 50%; 
object-fit: cover; /* Asegura que la imagen cubra todo el círculo sin deformarse */
position: absolute; /* Para superponer las imágenes */
z-index: 1; /* Control de superposición */
}
.imagen:nth-child(1) {
left: 0;
z-index: 1;
}

.imagen:nth-child(2) {
left: 25%; 
z-index: 2;
}

.imagen:nth-child(3) {
left: 50%; 
z-index: 3;
}
  