:root{
    --color-1:#FFFFFF; /*background*/
    --color-1:#000000; /*text*/
    --color-3:#EC441E; /*price text*/
    --color-4:hsla(251, 33%, 22%, 0.300); /*icons events near you*/
    --color-4:hsla(251, 33%, 22%, 0.500); /*cards blur*/
    --color-5:#333333; /*see all*/
    --color-6:#761CBC; /*title*/
    --color-7:#EDE9FF; /*music concert*/
    --color-8:#FFF5D7; /*exhibition*/
    --color-9:#FFECEC; /*stand up show*/
    --color-9:#E4FFEA; /*theater*/
}
@font-face{
    font-family: "Inter-SemiB";
    src: url(../storage/fonts/Inter_24pt-SemiBold.ttf);
}
@font-face{
    font-family: "Inter-Regular";
    src: url(../font/Montserrat/static/Inter_24pt-Regular.ttf);
}
@font-face{
    font-family: "DMSans";
    src: url(../font/Montserrat/static/DMSans_36pt-Regular.ttf);
}