<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detailS.css">
    <style>
        .top-img {
            top: 0px;
            width: 100%;
            height: 60vw;
            background-image: url('../storage/img/TOP-WT.png');
            background-size: cover;
            background-position: center 10%; /*posiciona la imagen*/
            background-repeat: no-repeat;   /* Evita que la imagen se repita */
            background-attachment: scroll; /* Fija la imagen al hacer scroll */
            flex-shrink: 0;               /* Evita que se reduzca si no cabe */
        }
    </style>
    <title>Document</title>
</head>
<body>
    <section class="top-img">
        <section class="HEADER">
            <div onclick="window.location.href='../index.html'" style="cursor: pointer;" class="image-box">
                <img src="../storage/img/Return.png" alt="Image 1"></div>
            <div class="image-box"><img src="../storage/img/Dots.png" alt="Image 2"></div>
        </section>
    </section>
    <section class="main-info">
        <div class="info">
            <h2 class="title">
                <span class="black">Coldplay</span>
                <span class="purple">: Music of the Spheres</span>
            </h2>
            <div class="location">
                <span class="icon"><img src="../storage/img/Location2.png" alt="Image 3"></span>
                <p>Gelora Bung Karno stadium, Jakarta</p>
            </div>
            <div class="date">
                <span class="icon"><img src="../storage/img/Calendar2.png" alt="Image 3"></span>
                <p>November 15 2023</p>
            </div>
        </div>
        <div class="participants">
            <span class="img-group">
                <img src="../storage/img/Ellipse1.png" alt="Image 3" class="imagen">
                <img src="../storage/img/Ellipse2.png" alt="Image 3" class="imagen">
                <img src="../storage/img/Ellipse3.png" alt="Image 3" class="imagen">
            </span>
            <p>50K+ Participants</p>
        </div>
    </section>
    <section class="description">
        <h3 class="title">Description</h3>
        <p class="text">
            Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. 
            <a href="#" class="read-more">Read More..</a>
        </p>        
    </section>
    <section class="location-section">
        <h3>Venue & Location</h3>
        <div class="map-container">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22436.998894636094!2d106.79134934724158!3d-6.219013662397646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f14d30079f01%3A0x2e74f2341fff266d!2sGelora%20Bung%20Karno%20Main%20Stadium!5e0!3m2!1sen!2sco!4v1739918931044!5m2!1sen!2sco">
            </iframe>
        </div>
    </section>
    <section class="ticket-footer">
        <div class="price">
            <p>Start from</p>
            <strong>IDR1.100.000</strong>
        </div>
        <button class="buy-ticket">Buy Ticket</button>
    </section>
</body>
</html>