<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detailS.css">
    <title>Document</title>
</head>
<body>
    <section class="top-img">
        <section class="HEADER">
            <div class="image-box"><img src="../storage/img/Return.png" alt="Image 1"></div>
            <div class="image-box"><img src="../storage/img/Dots.png" alt="Image 2"></div>
        </section>
    </section>
    <section class="main-info">
        <div class="info">
            <h2 class="title">
                <span class="black">Coldplay</span>
                <span class="purple">: Music of the Spheres</span>
            </h2>
            <div class="location">
                <span class="icon"><img src="../storage/img/Location2.png" alt="Image 3"></span>
                <p>Gelora Bung Karno stadium, Jakarta</p>
            </div>
            <div class="date">
                <span class="icon"><img src="../storage/img/Calendar2.png" alt="Image 3"></span>
                <p>November 15 2023</p>
            </div>
        </div>
        <div class="participants">
            <span class="img-group">
                <img src="../storage/img/Ellipse1.png" alt="Image 3" class="imagen">
                <img src="../storage/img/Ellipse2.png" alt="Image 3" class="imagen">
                <img src="../storage/img/Ellipse3.png" alt="Image 3" class="imagen">
            </span>
            <p>50K+ Participants</p>
        </div>
    </section>
    <section class="description">
        <h3 class="title">Description</h3>
        <p class="text">
            Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. 
            <a href="#" class="read-more">Read More..</a>
        </p>        
    </section>
    <section class="location">
        
    </section>
    <section class="ticket-footer">
        <div class="price">
            <p>Start from</p>
            <strong>IDR1.100.000</strong>
        </div>
        <button class="buy-ticket">Buy Ticket</button>
    </section>
</body>
</html>