<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tickets.css">
    <title>Document</title>
</head>
<body>
    <section class="HEADER">
        <div onclick="window.location.href='../index.html'" style="cursor: pointer;" class="image-box">
            <img src="../storage/img/Return.png" alt="Image 1"></div>
        <div class="image-box"><img src="../storage/img/Dots.png" alt="Image 2"></div>
    </section>
    <section class="TICKETS">
        <section class="ticket">
            <div class="ticket-header">
                <img src="../storage/img/Ticket.png" alt="Evento">
            </div>
            <div class="ticket-body">
                <h2>Coldplay : Music of the Spheres</h2>
                <p class="event-info">Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
        
                <div class="ticket-details">
                    <div class="detail">
                        <span>Name</span>
                        <strong>Indriyani Puspita</strong>
                    </div>
                    <div class="detail">
                        <span>Order Number</span>
                        <strong>CLD09738PL</strong>
                    </div>
                    <div class="detail">
                        <span>Date</span>
                        <strong>Nov 15 2023</strong>
                    </div>
                    <div class="detail">
                        <span>Time</span>
                        <strong>9:00 PM</strong>
                    </div>
                    <div class="detail">
                        <span>Gate</span>
                        <strong>Yellow</strong>
                    </div>
                    <div class="detail">
                        <span>Seat</span>
                        <strong>West B</strong>
                    </div>
                </div>
            </div>
            <div class="dashed-line">
                <img src="../storage/img/Dashed.png" alt="Evento">
            </div>
            <div class="ticket-footer">
                <img src="../storage/img/BarsCode.png" alt="Código de barras">
                <p>Scan your barcode at the entry gate.</p>
            </div>
        </section>
        <section class="ticket">
            <div class="ticket-header">
                <img src="../storage/img/Ticket.png" alt="Evento">
            </div>
            <div class="ticket-body">
                <h2>Coldplay : Music of the Spheres</h2>
                <p class="event-info">Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
    
                <div class="ticket-details">
                    <div class="detail">
                        <span>Name</span>
                        <strong>Indriyani Puspita</strong>
                    </div>
                    <div class="detail">
                        <span>Order Number</span>
                        <strong>CLD09738PL</strong>
                    </div>
                    <div class="detail">
                        <span>Date</span>
                        <strong>Nov 15 2023</strong>
                    </div>
                    <div class="detail">
                        <span>Time</span>
                        <strong>9:00 PM</strong>
                    </div>
                    <div class="detail">
                        <span>Gate</span>
                        <strong>Yellow</strong>
                    </div>
                    <div class="detail">
                        <span>Seat</span>
                        <strong>West B</strong>
                    </div>
                </div>
            </div>
            <div class="dashed-line">
                <img src="../storage/img/Dashed.png" alt="Evento">
            </div>
            <div class="ticket-footer">
                <img src="../storage/img/BarsCode.png" alt="Código de barras">
                <p>Scan your barcode at the entry gate.</p>
            </div>
        </section>
    </section>
</body>
</html>